mat-card {
    /* width: 500px; */
    /* margin: 20px auto; */
    text-align: left;
    border: 2px solid #ccc;
    margin-top: 5px;
}

mat-card-content {
    padding: 10px;
}

.date-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-form label {
    font-weight: bold;
    margin: 0 10px;
}

.date-form input[type="date"] {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

.date-form button.submitfile {
    background-color: #261aad;
    color: #fff;
    /* padding: 10px 20px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}

.date-form button.submitfile:hover {
    background-color: #3e8e41;
}