<div class="">

    <mat-dialog-content class="mat-typography">
        <h2 class="title" mat-dialog-title>Update Invoice </h2>
        <!-- <form (ngSubmit)="onSubmit()" #invoiceForm="ngForm" class="invoice-form"> -->
        <div class="confirmation-dialog-container">
            <!-- {{invoiceDetails |json}} -->
            <div class="content-container">
                <div class="confirmation-dialog-content">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="invoiceNo">Invoice No</label>
                                <input type="text" id="invoiceNo" [(ngModel)]="invoiceDetails.invoiceNo"
                                    name="invoiceNo" class="form-control" disabled required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="invoiceDate">Invoice Date</label>
                                <input type="date" id="invoiceDate" [(ngModel)]="invoiceDetails.invoiceDate"
                                    name="invoiceDate" class="form-control" disabled required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="invoiceAmt">Invoice Amount</label>
                                <input type="number" id="invoiceAmt" [(ngModel)]="invoiceDetails.invoiceAmt"
                                    name="invoiceAmt" class="form-control" disabled required>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="financedAmount">Financed Amount</label>
                                <input type="number" id="financedAmount" [(ngModel)]="invoiceDetails.financedAmount"
                                    name="financedAmount" class="form-control" disabled required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="setup">Setup Charges</label>
                                <input type="number" id="setup" [(ngModel)]="invoiceDetails.setup" name="setup"
                                    class="form-control" disabled required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="interest">Interest</label>
                                <input type="number" id="interest" [(ngModel)]="invoiceDetails.interest" name="interest"
                                    class="form-control" disabled required>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="paidAmt">Paid Amount</label>
                                <input type="number" id="paidAmt" [(ngModel)]="invoiceDetails.paidAmt" name="paidAmt"
                                    class="form-control" disabled required>
                            </div>
                        </div>
                        <div class="col-md-4" id="datepaid">
                            <div class="form-group">
                                
                        <label class="label" for="paidDate">Paid Date</label>
                        <div class="col-md-4">
                         <mat-form-field>
                         
                                    <input type="date" matInput [matDatepicker]="picker"  id="paidDate" [(ngModel)]="invoiceDetails.paidDate" name="paidDate"
                                    class="form-control" [max]="today" placeholder="Choose a date">
                                    <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
                                    <mat-icon (click)="reset()">close</mat-icon>
                                    <!-- <button (click)="reset()">Reset</button> -->
                                    <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                         
                            


                                <!-- <label class="label" for="paidDate">Paid Date</label>
                                <input type="date" id="paidDate" [(ngModel)]="invoiceDetails.paidDate" name="paidDate"
                                    class="form-control" [max]="today" required> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="creditDays">Credit Days</label>
                                <input type="number" id="creditDays" [(ngModel)]="invoiceDetails.creditDays"
                                    name="creditDays" class="form-control" disabled required>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="dueDate">Due Date</label>
                                <input type="date" id="dueDate" [(ngModel)]="invoiceDetails.dueDate" name="dueDate"
                                    class="form-control" disabled required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="recdDate">Received Date</label>
                                <input type="date" id="recdDate" [(ngModel)]="invoiceDetails.recdDate" name="recdDate"
                                    class="form-control"
                                    [disabled]="!cloneInvoiceDetails.paidDate || isFinanceAndInvoiceAmtSame"
                                    [max]="today" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="balAmt">Balance Amount</label>
                                <input type="number" id="balAmt" [(ngModel)]="invoiceDetails.balAmt" name="balAmt"
                                    class="form-control" disabled required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label" for="dueDate">Second Paid Date</label>
                            <input type="date" id="secondPaidDate" [(ngModel)]="invoiceDetails.secondPaidDate"
                                name="secondPaidDate" class="form-control" [max]="today"
                                [disabled]="!cloneInvoiceDetails.recdDate && isFinanceAndInvoiceAmtSame" required>
                        </div>
                    </div>
                    <div class="col-md-8" style="margin-top: 10px;">
                        <mat-dialog-actions align="end">
                            <div class="confirmation-dialog-actions">
                                <button class="button-18" (click)="onNoClick()">Cancel</button>
                                &nbsp;
                                <button class="button-18" (click)="updateInvoice(invoiceDetails)">Update</button>
                            </div>
                        </mat-dialog-actions>
                    </div>

                </div>

            </div>

        </div>
        <!-- </form> -->
    </mat-dialog-content>
</div>
<!-- <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->