<div class="home">
    <nav class="navbar">
        <div class="container">
            <a href="#" class="logo">Generate report for invoice</a>
            <button class="toggle-button">&#9776;</button>
            <div class="navbar-links">
                <!-- <a href="#">Range Voice</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Contact</a> -->
                <button class="login-button" [routerLink]="['/login']">Logout</button>
            </div>
        </div>
    </nav>
</div>

<!-- <mat-card class="file-upload-container">
    <mat-card-content>Select Excel File (.xlsx)</mat-card-content>
    <input type="file" accept=".xlsx" (change)="onFileSelected($event)" />
    &nbsp;
    <button class="submitfile" mat-flat-button (click)="uploadFile()">Upload File</button>
</mat-card>
<div *ngIf="message" class="alert" [ngClass]="{'alert-success': success, 'alert-danger': !success}">
    {{ message }}
</div> -->


<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="card" style="height: 120%;">
                    <div class="card-header card-header-danger">

                        <div class="header-content">
                            <h4 class="card-title" style="background-color: grey;">Add Invoice</h4>
                            <p class="card-category"></p>
                        </div>
                        
                    </div>

                    <div class="card-body">
                        <form #benchForm="ngForm" (ngSubmit)="addInvoicegen(invoicegenData)" novalidate>

                        


                
                            <div class="row">
                            

                                

                             
                                <div class="col-md-4" style="margin-top: 20px;">
                                    <label>Invoice Number</label>
                                    <mat-form-field>
                                        <input  matInput type="text" id="invoiceNo" name="invoiceNo"
                                            [(ngModel)]="invoicegenData.invoiceNo" required>
                                      
                                    </mat-form-field>
                                </div>

                               
                                <div class="col-md-4" style="margin-top: 20px;">
                                    <label>Invoice Date</label>
                                    <mat-form-field class="example-full-width">
                                        <input  matInput type="date" id="invoiceDate" name="invoiceDate"
                                            [(ngModel)]="invoicegenData.invoiceDate" required>
                                     
                                    </mat-form-field>
                                </div>

                               
                                <div class="col-md-4" style="margin-top: 20px;">
                                    <label>Invoice Amount</label>
                                    <mat-form-field class="example-full-width">
                                        <input type="number" matInput  id="invoiceAmt"
                                            name="invoiceAmt" [(ngModel)]="invoicegenData.invoiceAmt">
                                        <!-- Add validation and mat-error if needed -->
                                    </mat-form-field>
                                </div>

                            </div>
                          
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                [disabled]="benchForm.invalid" style="margin-left: 90%;">Submit</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <app-invoicedatereport></app-invoicedatereport> -->

<mat-card>
    <mat-card-content class="title">Invoice Details</mat-card-content>
    <div style="max-height: 400px; overflow-y: auto;">
        <table class="invoice-table">
            <thead>
                <tr>
                    <th>Invoice No.</th>
                    <th>Invoice Date</th>
                    <th>Invoice Amount</th>
                    <th>Financed Amount</th>
                    <th>Setup</th>
                    <th>Interest</th>
                    <th>Paid Amount</th>
                    <th>Paid Date</th>
                    <th>Credit Days</th>
                    <th>Due Date</th>
                    <th>Received Date</th>
                    <th>Balance Amount</th>
                    <th>Second Paid Date</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let invoice of invoicedetails">
                   
                    <td>{{ invoice.invoiceNo }}</td>
                    <td>{{ invoice.invoiceDate | date }}</td>
                    <td>{{ invoice.invoiceAmt }}</td>
                    <td>{{ invoice.financedAmount }}</td>
                    <td>{{ invoice.setup }}</td>
                    <td>{{ invoice.interest }}</td>
                    <td>{{ invoice.paidAmt }}</td>
                    <td>{{ invoice.paidDate | date }}</td>
                    <td>{{ invoice.creditDays}}</td>
                    <td>{{ invoice.dueDate | date }}</td>
                    <td>{{ invoice.recdDate | date }}</td>
                    <td>{{ invoice.balAmt }}</td>
                    <td>{{ invoice.secondPaidDate | date }}</td>
                    <td>
                        <button class="action-button"
                            (click)="generateInvoiceByInvoiceNo(invoice.invoiceNo)">Download</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</mat-card>


<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                 

                    <div class="card-body">
                        <form #benchForm="ngForm" (ngSubmit)="addInvoicegen(invoicegenData)" novalidate>
                
                            <div class="row">

                                <label>Invoice Number</label>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input  matInput type="text" id="invoiceNo" name="invoiceNo"
                                            [(ngModel)]="invoicegenData.invoiceNo" required>
                                      
                                    </mat-form-field>
                                </div>

                                <label>Invoice Date</label>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input  matInput type="date" id="invoiceDate" name="invoiceDate"
                                            [(ngModel)]="invoicegenData.invoiceDate" required>
                                     
                                    </mat-form-field>
                                </div>

                                <label>Invoice Amount</label>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input type="number" matInput  id="invoiceAmt"
                                            name="invoiceAmt" [(ngModel)]="invoicegenData.invoiceAmt">
                                        
                                    </mat-form-field>
                                </div>

                            </div>
                          
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                [disabled]="benchForm.invalid">Submit</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->